<div scrollSpy [spiedTags]="['APP-SECTION','APP-BANNER']" class="fake-window" (sectionChange)="changeSection($event)" class="page-container">
    <app-banner></app-banner>
    <app-section title="Profile" variant="dark" id="profile">
        <p class="section__text">I have {{yearsOfExperienceDeveloper}} years of experience as a Full-stack Software Developer and {{yearsOfExperienceData}} years in data modeling for statistical projects. I have mainly worked on creating web applications focused on dashboards and tools to optimize processes.</p>
    </app-section>
    <app-section title="Skills" variant="light" id="skills">
        <div class="section__skills">
            <article class="skill-group skill-group--frontend" [style.--row-span]="frontendSkills().length > 4 ? 2 : 1">
                <h4 class="skill-group__title">Frontend</h4>
                <div class="skill-group__items">
                    @for(skill of frontendSkills(); track $index){
                        <app-skill-card [skill]="skill" [color]="skill.color"></app-skill-card>
                    }
                </div>
            </article>
            <article class="skill-group skill-group--backend" [style.--row-span]="backendSkills().length > 4 ? 2 : 1">
                <h4 class="skill-group__title">Backend</h4>
                <div class="skill-group__items">
                    @for(skill of backendSkills(); track $index){
                        <app-skill-card [skill]="skill" [color]="skill.color"></app-skill-card>
                    }
                </div>
            </article>
            <article class="skill-group skill-group--data" [style.--row-span]="databaseSkills().length > 4 ? 2 : 1">
                <h4 class="skill-group__title">Database</h4>
                <div class="skill-group__items">
                    @for(skill of databaseSkills(); track $index){
                        <app-skill-card [skill]="skill" [color]="skill.color"></app-skill-card>
                    }
                </div>
            </article>
            <article class="skill-group skill-group--tools" [style.--row-span]="testingSkills().length > 4 ? 2 : 1">
                <h4 class="skill-group__title">Testing</h4>
                <div class="skill-group__items">
                    @for(skill of testingSkills(); track $index){
                        <app-skill-card [skill]="skill" [color]="skill.color"></app-skill-card>
                    }
                </div>
            </article>
            <article class="skill-group skill-group--devops" [style.--row-span]="devopsSkills().length > 4 ? 2 : 1">
                <h4 class="skill-group__title">Devops</h4>
                <div class="skill-group__items">
                    @for(skill of devopsSkills(); track $index){
                        <app-skill-card [skill]="skill" [color]="skill.color"></app-skill-card>
                    }
                </div>
            </article>
        </div>
    </app-section>
    <app-section title="Experience" variant="dark" id="experience">
        <app-timeline [timeLines]="experience()"></app-timeline>
    </app-section>
    <app-section title="About Me" variant="light" id="about-me">
        
        <p class="section__text">
            My name is Carlos Yeric Fonseca Rios, and I am from Bogotá, Colombia. I currently work at Ipsos as part of a Latin America development team, collaborating with professionals from Mexico, Chile, Argentina, Peru, and Brazil.
        </p>
        <p class="section__text">
            Some of my career achievements include receiving recognition for embodying one of the company's core values, 'Simplicity.' Additionally, I have contributed to the development of applications aimed at optimizing processes and reducing costs, as well as creating dashboards for major clients.
        </p>
        <p class="section__text">
            My current goal is to continue growing in the programming world, developing my leadership skills with the aim of one day leading development teams or launching my own business. I aspire for this venture to have a positive impact on society.
        </p>
    </app-section>
    <app-section title="Projects" variant="dark" id="projects">
        <div class="working-section">
            <p class="working-section__temp">
                I will be adding my projects soon.
            </p>
        </div>
    </app-section>
</div>


