<div scrollSpy [spiedTags]="['APP-SECTION','APP-BANNER']" class="fake-window" (sectionChange)="changeSection($event)" class="page-container">
    <app-banner></app-banner>
    <app-section [title]="'sections.profile.title' | translate" variant="dark" id="profile">
        <p class="section__text">{{ 'sections.profile.description' | translate }}</p>
    </app-section>
    <app-section [title]="'sections.skills.title' | translate" variant="light" id="skills">
        <div class="section__skills">
            @for(skill of skills(); track $index){
                <app-skill-card [skill]="skill" [color]="skill.color"></app-skill-card>
            }
        </div>
    </app-section>
    <app-section [title]="'sections.experience.title' | translate" variant="dark" id="experience">
        <app-timeline [timeLines]="experience()"></app-timeline>
    </app-section>
    <app-section [title]="'sections.projects.title' | translate" variant="light" id="projects">
        <div class="section__projects">
            @for(project of projects(); track $index) {
                <app-project-card [project]="project"></app-project-card>
            }
        </div>
    </app-section>
</div>


