
.section__text{
    max-width: var(--max-width-text);
    margin-inline: auto;
}

.section__text:not(:first-child){
    margin-top: var(--spacing-4);
}

.section__skills{
    max-width: var(--max-width-container);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: var(--spacing-4);
}


app-timeline{
    display: grid;
    justify-items: center;
    margin-inline: auto;
    max-width: var(--max-width-container);
}

.section__projects{
    max-width: var(--max-width-container);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--spacing-6);
}