.btn-icon{
    --button-size: 2rem;
    background-color: transparent;
    border: none;
    width: var(--button-size);
    height: var(--button-size);
    padding: var(--spacing-2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
    &.sm{
        --button-size: 1.5rem;
    }
}

.btn{
    --button-size: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    padding-inline: var(--spacing-2);
    height: var(--button-size);
    border-radius: 4px;
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    font-weight: 400;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
    &:hover{
        background-color: var(--color-primary-dark);
    }
}

.btn-secondary{
    background-color: var(--color-secondary);
    color: var(--color-white);
    
}

.btn__icon{
    width: 1rem;
    height: 1rem;
}