*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    color: var(--color-on-white);
}

a{
    text-decoration: none;
    color: inherit;
}
strong {
    font-weight: 600;
}