:root{
    // Colors
    --color-primary: #00619e;
    --color-primary-light: #4da6ff;
    --color-primary-dark: #12253b;

    --color-secondary: #e15166;
    --color-secondary-light: #e97c8c;
    --color-white: #fafafa;
    
    --color-on-white: #333;
    --color-on-primary: var(--color-white);

    // Font
    --font-size: 16px;
    --font-family: 'Barlow', sans-serif;

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 2.5rem;
    --font-size-4xl: 3.5rem;

    // Spacing
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2rem;
    --spacing-6: 2.5rem;
    --spacing-7: 3rem;

    // Breakpoints
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    // Shadows
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);

    //max-width
    --max-width-text: 75ch;
    --max-width-container: 1200px;


}