<nav class="navbar">
    <button (click)="isActive.set(!isActive())" class="navbar__button btn-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8Zm0 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>              
    </button>
    <div class="navbar__list-container" [class.active]="isActive()" #navbarListContainer>
        <header class="navbar__header">
            <button class="navbar__close-button btn-icon" (click)="isActive.set(false)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                    <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                </svg>                                 
            </button>
        </header>
        
        <ul class="navbar__list" >
            <li class="navbar__item">
                <a class="navbar__link" routerLink="/about-me" fragment="profile" [class.active]="currentFragment() === 'profile' || currentFragment() === 'profile-2'" (click)="isActive.set(false)">Profile</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" routerLink="/about-me" fragment="skills" [class.active]="currentFragment() === 'skills'" (click)="isActive.set(false)">Skills</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" routerLink="/about-me" fragment="experience" [class.active]="currentFragment() === 'experience'" (click)="isActive.set(false)">Experience</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" routerLink="/about-me" fragment="projects" [class.active]="currentFragment() === 'projects'" (click)="isActive.set(false)">Projects</a>
            </li>
            <li class="navbar__item">
                <a class="btn btn-secondary sm" href="files/CYFR Curriculum.pdf" download>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="btn__icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>                      
                    <span class="btn__text">Resume</span>
                </a>
            </li>
        </ul>
    </div>
</nav>