/* You can add global styles to this file, and also import other style files */
@use "./styles/reset";
@use "./styles/fonts";
@use "./styles/variables";
@use "./styles/buttons";

.time-line__list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}